<!DOCTYPE html>
<html
	th:lang="${#locale.language}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
  		<title th:text="#{title.kafkadashboard}"></title>
		<script src="/jquery-3.4.1.min.js"></script>
		<script src="/mustache.min.js"></script>
		<script src="/webjars/sockjs-client/sockjs.min.js"></script>
		<script src="/webjars/stomp-websocket/stomp.min.js"></script>

		<style type="text/css">
			.event-log {
				padding: 10px;
  				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			}
		</style>
	</head>

	<body>
		<section>
			<div id="pnlProductEvents"></div>		
		</section>
	</body>

	<script type="text/javascript">
		
		function connect() {
			var socket = new SockJS('/notificationsocket');
			stompClient = Stomp.over(socket);
			stompClient.connect({}, function(frame) {
				stompClient.subscribe('/topic/productevents', function(notification) {
					appendToEventLog(JSON.parse(notification.body));
				});
			});
		}
		
		function appendToEventLog(notification) {
			var keys = Object.keys(notification);
			var log = "";
			
			jQuery.each(keys, function(index, key) {
				log += Mustache.render("{{key}} : {{value}} <br>", {
					key: key,
					value: notification[key]
				});
			});
			
			log = Mustache.render("<div class='event-log'>{{{log}}}</div>", {
				log: log
			});
			
			$('#pnlProductEvents').append(log);
		} 
		
		jQuery(document).ready(function() {
			connect();
		});
	</script>
</html>