<!DOCTYPE html>
<html
	th:lang="${#locale.language}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
  		<title th:text="#{title.products}"></title>
  		
		<script src="/jquery-3.4.1.min.js"></script>
		<script src="/oredata-kafka-application.js"></script>
		
		<style type="text/css">
			.pnl-products {
				display: flex;
  				flex-direction: column;
    			padding: 10px;
			}
			
			.pnl-product {
				display: flex;
    			padding: 10px;
			}
			
			.pnl-product-info {
				width: 100%;
				text-align: center;
				border: 1px solid #ccc;
				font-weight: bold;
				font-size: 18px;
			}
			
			.lbl-product-name {
 	   			line-height: 100px;
			}
			
			.pnl-product-action {
				width: 100%;
				display: flex;
  				flex-direction: column;
    			padding-left: 25px;
			}
			
			.btn-product-action {
				background: transparent;
				padding: 3px;
    			border: 1px solid #ccc;
    			margin: 3px;
			}
			
			.btn-product-action:hover {
				background: #ccc;
				cursor: pointer;
			}
			
			#containerActionLog {
    			padding: 0 20px 0 20px;
    			height: 100%;
			}
			
			#pnlActionLog {
				
			}
		</style>
	</head>

	<body>
		<section>
			<div class="pnl-products">
				<div th:each="product: ${allProducts}" class="pnl-product" th:data-product="${product.id}">
					<div class="pnl-product-info">
						<label class="lbl-product-name" th:text="${product.name}"></label>
					</div>
					<div class="pnl-product-action">
						<button id="btnViewProduct" class="btn-product-action" th:data-product-id="${product.id}" th:action="productview">View Product</button>
						<button id="btnPurchase" class="btn-product-action" th:data-product-id="${product.id}" th:action="purchase">Purchase</button>
						<button id="btnAddToBasket" class="btn-product-action" th:data-product-id="${product.id}" th:action="addtobasket">Add To Basket</button>
						<button id="btnRemoveFromBasket" class="btn-product-action" th:data-product-id="${product.id}" th:action="removefrombasket">Remove From Basket</button>
					</div>
				</div>
			</div>
		</section>
		
		<section>
			<div id="containerActionLog">
				Action Log
				
				<div id="pnlActionLog">
				
				</div>
			</div>
		</section>
	</body>
	
	<script type="text/javascript">
		
		(function(jQuery) {
			ProductAPI = function() {
				return {
					prepareKafkaRecord: function(productId, eventName) {
						var product = {
							date: new Date(),
							productId: productId,
							eventName: eventName,
							userId: '812ea919'
						};
						
						return JSON.stringify(product);
					}
				}
			};
			
			ActionLogAPI = function() {
				var logContainer = jQuery('#pnlActionLog');
				
				return {
					write: function(log) {
						logContainer.append('<br>' + log);
					}
				}
			};
			
			jQuery.ProductAPI = new ProductAPI();
			jQuery.ActionLogAPI = new ActionLogAPI();
		})(jQuery);
		
		jQuery('#btnViewProduct, #btnPurchase, #btnAddToBasket, #btnRemoveFromBasket').on('click', function(event) {
			var selecteProductId = jQuery(event.currentTarget).data().productId;

			if (!selecteProductId) {
				jQuery.ActionLogAPI.write("Lütfen bir ürün seçiniz");
				return true;
			}
			
			var productAsRecord = jQuery.ProductAPI.prepareKafkaRecord(selecteProductId, event.currentTarget.getAttribute("action"));
			
			jQuery.KafkaAPI.sendKafkaRecord(productAsRecord);
			jQuery.ActionLogAPI.write("<b>Action:</b> " + selecteProductId + " <b>Event:</b> " + event.currentTarget.getAttribute("action"));
		});
	</script>
</html>