<!DOCTYPE html>
<html
	th:lang="${#locale.language}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8">
  		<title th:text="#{title.sytemdashboard}"></title>
  		
  		<style type="text/css">
  			html, body {
			  	margin: 0px;
			  	padding: 0px;
			  	width: 100%;
			  	height: 100%;
			}

  			#containerFrames {
  				display: flex;
  				height: 100%;
  				width: 100%;
  			}
  		
  			#ifmProducts {
  				float: left;
  				height: 100%;
  				width: 100%;
  			}
  			
  			#ifmKafkaDashboard {
  				float: left;
  				height: 100%;
  				width: 100%;
  			}
  		</style>
	</head>

	<body>
		
		<div id="containerFrames">
			<iframe id="ifmProducts" src="/product">Products</iframe>
			<iframe id="ifmKafkaDashboard" src="/kafka/dashboard">Kafka Dashboard</iframe>
		</div>
		
	</body>
</html>